.form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 500px;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
   
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.
    25rem;
    background-color: #007bff;
    color: #fff;
    }
    
    .btn:hover,
    .btn:focus {
    background-color: #0069d9;
    color: #fff;
    text-decoration: none;
    }

    form {
      display: block;
      width: 100%;
      }
    
    /* textarea.form-control{
      width: 50%;
      height: 120px;
      font-size: 1rem;
    }
    
     */