.menu a {
  margin-right: 5ch;
  float: right;
  margin-top: 10px;
  font-size: 2em;
  color: black
}

#sitename {
    float: left;
    margin-top:0;

}

.clearfix {
    clear: both;
}

menu {
  font-size: large;

}